<%- include('./partials/head') %>

<article>

    <h1><%= data.name %> <%= data.surname %></h1>
    <p><em><%= data.bio %></em></p>


  <div class="profile">
      <img class="image" src="assets/Scherm­afbeelding 2023-09-04 om 19.42.22.png">

    <ul>
      <li>11-04-1994</li>
      <li>Amstelveen </li>
      <li>asschermer@hotmail.com </li>
      <li>@akikosophia </li>
    </ul>
  </div>

  

</article>

<%- include('./partials/foot') %>
